{% extends 'nav.html' %}

{% block body %}
<h2>{{object.title}}</h2>
<h3>{{object.author.name}}</h3>

<div class="reader">
    <div class="text_reader reader_elem">
        <div class="word_display">
            <div class="current_word" id="cword">
                Template
            </div>
        </div>
        <div class="buttons">
            <button class="button">Back</button>
            <button class="button" id="pausebutton">Start</button>
            <button class="button">Forward</button>
        </div>
        <div class="text_display_container">
            <div class="text_display" id="text_display">Press Start</div>
        </div>
    </div>
    <div class="pdf_reader reader_elem">
        <iframe src="/media/{{object.book_file}}">
        </iframe>
    </div>
</div>

{% endblock body %}

{% block style %}
<style>
    :root {
        --bg-color: rgb(44, 44, 44);
        --turquoise-blue: #10fff6ff;
        --mandarin: #ef8354ff;
        --fern-green: #5b7553ff;
        --xiketic: rgb(23, 26, 37);
        --xiketic-off: rgb(32, 33, 39);
        --chocolate-web: #c56f2eff;

        --reader-size: 95%;
        --txt-color: 
    }

    .reader {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .text_reader {
        width: 100%;
        height: 80vh;
        text-align: center;
        position: relative;
    }

    .word_display {
        position: relative;
        width: 100%;
        height: 24%;
        margin-left: 1%;

        font-size: 30px;

        border-radius: 10px;
        
        background-color: var(--xiketic_nav);
    }

    .current_word { 
        position: absolute;
        top: 40%;
        left: 25%;
        width: 50%;
    }

    .buttons {
        position: absolute;
        top: 26%;
        height: 8%;
        width: 100%;
        margin-left: 1%;

        display: flex;
        justify-content: space-between;
    }

    .button {
        width: 30%;
        height: 100%;
        background-color: var(--xiketic_nav);
        border: none;
        border-radius: 5px;
        color: var(--basic-headers);
        font-weight: bold;
        text-align: center;
        font-size: 16px;
    }

    .text_display_container {
        position: absolute;
        top: 36%;
        height: 60%;
        width: 90%;
        margin-left: 1%;
        padding-left: 5%;
        padding-right: 5%;

        border-radius: 10px;
        
        background-color: var(--xiketic_nav);
    }

    .text_display {
        position: absolute;
        top: 5%;
        height: 100%;
        width: 90%;
        overflow: scroll;
        text-align: justify;
        font-size: 20px;        
    }

    .pdf_reader {
        width: 100%;
        height: 80vh;
        margin-left: 1%;

        text-align: center;

        border-radius: 5px;
    }

    iframe {
        width: 95%;
        height: 95%;
    }

</style>
{% endblock style %}

{% block script %}
<script defer>
    let pausebutton;
    let cword;

    var iterator = 0;
    var stop = true;
    var text = "{{book_text|escapejs}}"
    let text_display = document.getElementById('text_display')

    
    const timer = ms => new Promise(res => setTimeout(res, ms));
    
    var text_words = text.split(' ');
    
    let new_text = parse_words(text_words)
    text_display.innerHTML = new_text;

    go_forward();

    function parse_words(text_words) {
        let new_text = ''

        for (var i in text_words) {
            new_text += 
            '<span id=\'word' + i + '\' onclick="word_click(this.id)">' + 
                text_words[i] + 
            '</span> '
        }

        return new_text
    }

    function pauser() {
        return new Promise(resolve => {
            let playbuttonclick = function () {
                if (stop == false) {
                    stop = true;
                    pausebutton.innerHTML = 'Start'
                                                  
                }
                else {                 
                    stop = false;
                    pausebutton.innerHTML = 'Stop'                    
                }
                resolve('resolved')
            }
            pausebutton.addEventListener('click', playbuttonclick)
        })
    }

    function word_click(word_id) {
        className = word_id;
        id = word_id.substring(4,);
        prev_iterator = iterator;
        iterator = id;

        highlighter(prev_iterator, 'transparent')
        highlighter(iterator, 'beige')
    }

    async function go_forward() {
        
        pausebutton = document.getElementById('pausebutton')
        cword = document.getElementById('cword')
                
        for (iterator = 0; iterator < text_words.length; iterator++) {
            if (stop == true) await pauser();
            word_highlight_logic(iterator)
        }
    }

    async function word_highlight_logic(iterator) {
        cword.innerHTML = text_words[iterator]

        if (iterator < 1) {
            prevword = '';
        }
        else {
            thisword = highlighter(iterator, 'beige');
            thisword.scrollIntoView({block: 'center'});
            first_word_highlight()

            await timer(200); // then the created Promise can be awaited
        }
    }

    function highlighter(id,colour) {
        thisword = document.getElementById('word'+ id)
        thisword.style.backgroundColor = colour;   
        return thisword
    }

    function first_word_highlight() {
        try {
            highlighter((iterator-1), 'transparent')
        }
        catch {console.log('oops')}
    }
</script>
{% endblock script %}
