{% extends 'main.html' %}
{% load static %}

{% block csslinks %}
    <link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
{% endblock csslinks %}

{% block body %}
<h2>{{object.title}}</h2>
<h3>{{object.author.name}}</h3>

<div class="reader">
    <div class="text_reader reader_elem">
        <div class="word_display">
            <div class="current_word" id="cword">
                Template
            </div>
        </div>
        <div class="buttons">
            <button class="button" id="backbutton">Back</button>
            <button class="button" id="pausebutton">Start</button>
            <button class="button" id="forwardbutton">Forward</button>
        </div>
        <div class="text_display_container">
            <div class="text_display" id="text_display">Press Start</div>
        </div>
    </div>
    <div class="pdf_reader reader_elem">
        <iframe src="/media/{{object.book_file}}">
        </iframe>
    </div>
</div>

{% endblock body %}

{% block jslinks %}
{{ book_json|json_script:"book_json" }}
<script src="{% static 'js/book_detail.js' %}"></script>
{% endblock jslinks %}
