.fieldWrapper {
    margin-left: 1%;
    height: 10vh;
}

.fieldErrors {
    margin-left: 1%;
    color: brown;
}

.fieldLabel {
    margin-left: 1%;
    font-size: 24px;
}

input {
    margin-left: 1%;
}
